* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    letter-spacing: -0.02rem;

    background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat;
    height: 100vh;

    display: grid;
    place-content: center;


}

/* Classes utilitárias */

.grid {
    display: grid;
}

.column {
    grid-auto-flow: column;
}

.text-right {
    text-align: right;
}


/* Fim das classes utilitarias */

strong, h1 {
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    line-height: 2.4rem;
    color: white;
    text-align: center;
    margin-bottom: 1.6rem;
}

p { 
    color: rgba(0, 0, 0, 0.64);
    font-size: 1.4rem;
    line-height: 1.7rem;
}

strong {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.88);
}

section {
    background: white;
    padding: 2.4rem 3.2rem;
    border-radius: 2.4rem 

    /* --mask: radial-gradient (
        1.2rem at 1.2rem bottom, transparent 95%, black
        ) -1.2rem;
    -webkit-mask: var(--mask);
    mask: var(--mask); */
}


#bording-pass {
    margin: auto;
}

#ticket {
    
    margin-top: 2rem;
    filter: drop-shadow(0px 4px 24px rgba(0,0,0,0.25));
}


.top {
    /* border-radius: 2.4rem 2.4rem 0 0; */
    gap: 2.4rem;

    
}

.top time {
    color: rgba(0, 0, 0, 0.8)
}

.top time sup {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
}

.departure, .arrive {
    width: 12.5rem;
}

.airplane {
    align-self: center;
}

.middle {
    border: .1rem dashed rgba(0, 0, 0, 0.32);
    border-left: 0;
    border-right: 0;
}

.departure strong, .arrive strong {
    font-size: 4rem;
    line-height: 4.7rem;
}

.bottom .container {
    align-items: center;
    gap: .8rem;
}

.bottom {
    /* border-radius: 0 0 2.4rem 2.4rem ; */

    
}
dl.grid {
    min-width: 9.5rem;
    gap: 1.6rem;
}

dt time {
   color: white;
   font-weight: 500;
   font-size: 1.6rem;
   line-height: 1.9rem;
   background: #633BBC;
   border-radius: .8rem;

   padding: .4rem .8rem;
   display: inline-block;
   margin-top: .2rem;
}

.bottom > p {
    text-align: center;
    margin-top: 2.4rem;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.8);
}

.qr-code.grid {
    justify-items: center;
}

footer {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: white;
    opacity: 0.64;
    width: 27rem;
    text-align: center;
    margin: 2rem auto;

}